<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511730909425-7g4bkqsdtth4kkqho9vcgfmoucbivon9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511730909425-7g4bkqsdtth4kkqho9vcgfmoucbivon9</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Z8e4qvTcFHpurAsOA6ao6So3VQ8esVM</string>
	<key>GCM_SENDER_ID</key>
	<string>511730909425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fetchingData</string>
	<key>PROJECT_ID</key>
	<string>venkat-1010</string>
	<key>STORAGE_BUCKET</key>
	<string>venkat-1010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511730909425:ios:5994617f79c00afceaa950</string>
</dict>
</plist>